---
name: Docker image
on:
  push:
    branches:
      - main
  schedule:
    - cron: '11 1 18 * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: tobix
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Detect image metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: tobix/wine

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build stable
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: tobix/wine:stable
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            WINE_FLAVOUR=stable
          cache-to: type=local,dest=/tmp/buildx-cache,mode=max

      - name: Build devel
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: tobix/wine:devel
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            WINE_FLAVOUR=devel
          cache-from: type=local,src=/tmp/buildx-cache

      - name: Build staging
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: tobix/wine:staging
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            WINE_FLAVOUR=staging
          cache-from: type=local,src=/tmp/buildx-cache
