---
name: Test Docker image
on:
  - pull_request

permissions:
  contents: read

jobs:
  build:
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build stable
        uses: docker/build-push-action@v5
        with:
          build-args: |
            WINE_FLAVOUR=stable
          cache-to: type=local,dest=/tmp/buildx-cache,mode=max

      - name: Build devel
        uses: docker/build-push-action@v5
        with:
          build-args: |
            WINE_FLAVOUR=devel
          cache-from: type=local,src=/tmp/buildx-cache

      - name: Build staging
        uses: docker/build-push-action@v5
        with:
          build-args: |
            WINE_FLAVOUR=staging
          cache-from: type=local,src=/tmp/buildx-cache
